<h1>New post</h1>
<%= form_for :post, url: posts_path do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
  <div>Title</div>
  <%= f.text_field(:title, {class: 'form-control'}) %>
  </p>
  <p>
  <div>text</div>
  <%= f.text_area(:body, {class: 'form-control'}) %>
  </p>
  <%= f.submit("Готово", {class: 'btn btn-warning'}) %>
<% end %>